.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: var(--space-4);
}

.left {
  flex-shrink: 0;
}

.right {
  flex-shrink: 0;
  margin-left: auto;
}
